<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AdminPassword" value=""/>
    <add key="APIARKBARURL" value="http://api.ark.bar" />
    <add key="ServerIP" value=""/>
    <add key="RCONPort" value="32330"/>
    <!--<add key="VersionCheckInterval" value="3600000"/>-->
    <add key="VersionCheckInterval" value="5000"/>
    <!--<add key="CountDownInterval" value="60000"/>-->
    <add key="CountDownInterval" value="10000"/>    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
